/* Block */

.wp-block-related-pages-blocks-page-item {
    margin: 0;
}

.related-pages-block-title-wrap,
.related-pages-block-list {
    border-width: var(--related-pages-block--border-width);
    border-color: var(--related-pages-block--title--bg-color);
}

.related-pages-block-title-wrap {
    border-style: none solid;
    cursor: auto;
}

.related-pages-block-list {
    border-style: none dashed dashed;
}

.related-pages-block-list li {
    padding: var(--related-pages-block--padding-tb) var(--related-pages-block--padding-lr);
}

.related-pages-block-list li span {
    padding: 0;
}

/* Sidebar */

.related-pages-block-input-control .components-input-control__container {
    max-width: 120px;
    margin-left: auto;
}

.related-pages-block-link-control .block-editor-link-control {
    min-width: initial;
}

.related-pages-block-link-control .components-base-control.block-editor-url-input,
.related-pages-block-link-control .block-editor-link-control__tools {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.related-pages-block-link-control .block-editor-link-control__tools {
    padding-bottom: 0;
    border-top: none;
}

.related-pages-block-link-control .block-editor-link-control__search-results {
    border: 1px solid #ddd;
    margin-top: 18px;
}