:root {
    --related-pages-block--title--font-size: 1em;
    --related-pages-block--title--font-color: #000;
    --related-pages-block--title--bg-color: #ebecf0;
    --related-pages-block--list--font-color: inherit;
    --related-pages-block--list--bg-color: transparent;
    --related-pages-block--arrow--width: 2.6em;
    --related-pages-block--padding-tb: 0.8em;
    --related-pages-block--padding-lr: 20px;
    --related-pages-block--border-width: 3px;
    --related-pages-block--duration: 0.5s;
}

.related-pages-block {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: 0;
    overflow: hidden;
}

.related-pages-block *,
.related-pages-block *::before,
.related-pages-block *::after {
    box-sizing: inherit;
}

.related-pages-block-title-wrap {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--related-pages-block--title--bg-color);
    cursor: pointer;
}

.related-pages-block.always-open .related-pages-block-title-wrap {
    cursor: auto;
}

.related-pages-block-title,
.related-pages-block-arrow {
    font-size: var(--related-pages-block--title--font-size);
    line-height: 1;
    text-align: left;
    color: var(--related-pages-block--title--font-color);
}

.related-pages-block-title {
    display: block;
    max-width: calc(100% - var(--related-pages-block--arrow--width));
    margin: 0;
    padding: var(--related-pages-block--padding-tb) var(--related-pages-block--padding-lr);
    word-wrap: break-word;
}

.related-pages-block-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--related-pages-block--arrow--width);
    height: 100%;
}

.related-pages-block-arrow .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%) rotate(180deg);
    text-align: center;
    transition: transform var(--related-pages-block--duration);
}

.related-pages-block.is-closed .fa-angle-down {
    transform: translateY(-50%) translateX(50%);
}

.related-pages-block-list {
    padding: calc(var(--related-pages-block--padding-tb) / 2) 0;
    margin: 0;
    font-size: inherit;
    line-height: 1;
    color: var(--related-pages-block--list--font-color);
    background-color: var(--related-pages-block--list--bg-color);
    overflow: hidden;
}

.related-pages-block-list li {
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.related-pages-block-list li.is-current {
    font-weight: bolder;
}

.related-pages-block-list li a,
.related-pages-block-list li.is-current {
    display: block;
    padding: calc(var(--related-pages-block--padding-tb) / 2) var(--related-pages-block--padding-lr);
}

.related-pages-block a,
.related-pages-block a:hover,
.related-pages-block a:visited {
    text-decoration: none;
    color: inherit;
}

.related-pages-block.has-border .related-pages-block-title-wrap,
.related-pages-block.has-border .related-pages-block-list {
    border-width: var(--related-pages-block--border-width);
    border-color: var(--related-pages-block--title--bg-color);
}

.related-pages-block.has-border .related-pages-block-title-wrap {
    border-style: none solid;
}

.related-pages-block.has-border .related-pages-block-list {
    border-style: none solid solid;
}